body {
  background: url("http://www.seanpalvarez.com/images/pink_rice.png");
}

.header h1 {
  font: 400 100px/1.0 'Just Another Hand', Helvetica, sans-serif;
  color: #990000;
  text-shadow: 0px 3px 0px #770000, 0px 5px 0px #4d4d4d, 0px 7px 0px #550000, 0px 9px 0px #330000, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
}

.intro p {
  font-size: 1.3em;
  font-family: "Times New Roman";
  padding-bottom: 8%;
  text-align: left;
}

#hidden-link {
  visibility: hidden;
}

.quote-div {
  margin-top: 1%;
  min-height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 25px;
  box-shadow: -10px 15px 10px #000;
}

.quote-text {
  width: 100%;
}

.quote-box {
  background: transparent;
  border: none;
}