@font-face {
  font-family: "DigitalMono";
  src: url("../fonts/digital-7-mono.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.calc-body {
  width: 350px;
  height: 500px;
  min-width: 350px;
  min-height: 500px;
  background-color: #222;
  border-radius: 5%;
  border: #000 2px solid;
  margin: 5% auto;
}
.calc-title {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Lobster', cursive;
}
.calc-display {
  width: 90%;
  height: 12%;
  margin: 10px auto;
  border-radius: 2%;
  background-color: #d2b48c;
}
.calc-display span {
  width: 100%;
  float: right;
  text-align: right;
  font-family: DigitalMono;
  font-size: 4em;
}
.calc-solar {
  width: 30%;
  height: 5%;
  margin: 5px 0 0 5%;
  background-color: #fcc;
}
.calc-solar .calc-solar-well {
  display: inline-block;
  overflow: hidden;
  width: 21%;
  height: 100%;
  margin-right: 1%;
  background-color: rgba(255,10,10,0.4);
}
.calc-solar .calc-solar-end {
  display: inline-block;
  overflow: hidden;
  width: 22%;
  height: 100%;
  margin-right: 0px;
  background-color: rgba(255,10,10,0.4);
}
.calc-buttons {
  width: 90%;
  height: 330px;
  margin: 10px auto;
  table-layout: fixed;
}
.calc-buttons .calc-button-row {
  height: 20%;
}
.calc-buttons .calc-button-row .calc-button button {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-size: 2em;
  color: #fff;
  border-radius: 25%;
  background: url("../img/blue.jpg");
}
.calc-buttons .calc-button-row .red button {
  background: url("../img/red.jpg");
}
